{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'main/style.css'%}">
</head>
<body>
    <div class="background_iframe">
        <div class="frame">
            <p class="title_frame">Mes renseignements</p>
            <table style="width: 100%;">
                <tr>
                    <td  align="center">
                        <img src="{%static 'main/images/photo_profil_ronde.png'%}" alt="photo de profil">
                    </td>
                    <td>
                        <div style="border-left: 4px solid #e08243; height: 80px;padding-right: 10px;"></div>
                    </td>
                    <td>
                        <p><a href="https://linkedin.com/in/jeremy-abelard-733a22216" target="_blank">linkedin.com/in/jeremy-abelard-733a22216</a></p>

                        <p><a href="mailto:j.abelard13@gmail.com">j.abelard13@gmail.com</a></p>

                        <p><a href="tel:+2482507499">2507499</a></p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>