{%extends "portfolio_project_page/template_pages.html"%} 

{% block title %}Portfolio - Energy Report{% endblock %}


{%block div%}
<section class="title_portfolio_annexe" style="margin-top: 10px;">
    <div class="zone_gray">
        <div class="split"></div>
        <h1>Projet Brochure et Bilan Energétique</h1>
        <h2><i>"Seychelles Energy Commission"</i></h2>
    </div>
</section>
{%endblock%}

{%block tablematiere%}
    <h2>Table des matières</h2>
    <div class="table_matiere">
        <ul>
            <li><a href="#num1">Section 1</a></li>
            <li><a href="#num2">Section 2</a></li>
            <li><a href="#num3">Section 3</a></li>
        </ul>
    </div>
{%endblock%}

{%block section_text%}
<section class="section_text">     
    <div class="ligne_verticale parag_contenue_annexe">
        <p>
            Ce projet concerne la réalisation de brochures avec la représentation graphique de données annuelles de l'énergie aux Seychelles. Ces infographies ont pour but de communiquer, de façon claire et transparente, au “Grand Public” (résident, industrie, services, etc.) sur l'évolution de l'énergie aux Seychelles. Ce qui permet d'avoir une large connaissance sur les différents types d'énergie qui transitent aux Seychelles, depuis son état primaire jusqu'à sa consommation finale.
            <br><br>
            Ces données sont en amont récupéré et traité par la Public Utilities Corporation (PUC) qui gère l'électricité et l'eau, et la Seychelles Petroleum Company (SEYPEC) qui gère les carburants. Après avoir été triées et classées, les données sont transmises à la Seychelles Energy Commission (SEC) pour la rédaction du bilan énergétique, qui sera rédigé pour l'année n-1.
        </p>

        <a href="images/brochure_image.jpg"><img src="images/brochure_image.jpg" alt="photo brochure" style="width: 50%;"></a>

        <h2 id="num1" style="text-align: left; font-size: 34px;">L'Objectif</h2>

        <p>
            Mon rôle principal était de concevoir de A à Z ces brochures, mais aussi de retranscrire les données fournies par PUC et SEYPEC sous formes graphiques. Ces derniers permettront d'alimenter les brochures et le rapport sur le bilan énergétique. Il faut noter que ce rapport doit contenir, en supplément des figures qui se trouve dans les brochures, des graphiques plus spécifiques de type "Time Series" afin de prendre conscience de l'évolution de l'énergie sur la décennie.
            <br><br>
            La création de brochure demande beaucoup de rigueur, d'analyse et de cohérence d'une part pour faciliter la lecture mais aussi la compréhension. Il faut cependant maintenir une cohérence inéluctable en parallèle des informations qui se trouveront dans le bilan énergétique. Il faut toutefois être vigilant et s'assurer de la pertinence des données car on n'est pas à l'abri de quelques données erronées et/ou manquantes, une communication étroite au sein de l'équipe doit donc être primordiale.
            <br><br>
        </p>
        
        <a href="images/brochure_open.jpg"><img src="images/brochure_open.jpg" alt="photo brochure" style="width: 50%;"></a>

        <p>
            Ci-dessous les principaux logiciels que j'ai utilisés tout au long du projet:
        
            <ul>
                <li>L'utilisation de <mark>Python</mark> avec ces libraries Matplotlib et Seaborn; qui me permet de générer les graphiques.</li>
                <li><mark>Photoshop</mark>, qui me donne une grande liberté pour la création et le réajustement des images et des illustrations.</li>
                <li>Et l'incontournable site web <mark>CANVAS</mark>, qui me permet de tout rassembler et de réaliser facilement les brochures. Ce site web propose des templates et des modèles afin de simplifier les choses et/ou de s'en inspirer.</li>
            </ul>
        </p>

        <a href="images/contact_side.jpg"><img src="images/contact_side.jpg" alt="photo brochure" style="width: 50%;"></a>

        <h2 id="num2" style="text-align: left; font-size: 34px;">Mon Approche</h2>

        <h3 style="text-align: left; font-size: 25px;">Documentation</h3>
        <p>
            Dans chaque projet, la documentation est une phase préliminaire importante, afin de bien débuter son projet et construire sur de bonnes bases. Cela permet en effet de pallier à certains questionnements et aussi de connaître certains standard ou règles générales à adopter pour la création de brochures. Pour ma part cette phase était importante, sachant que je n'avais jamais fait des brochures auparavant.
        </p>
        <p>
            Pour ce faire, j'ai regardé ce qui se faisait déjà... Les seuls exemples que j'avais c'étais les brochures faites par la <i>SPL Horizon Reunion</i>; avec des infographies très explicatives et qui sont faciles à comprendre pour tout le monde.
        <br><br>

        <a href="https://oer.spl-horizonreunion.com/sites/observatoire-energie-reunion/files/2021-12/ber-2020-chriffres-cles-fr.pdf"> Bilan énergétique Horizon Reunion 2020</a>
        
        </p>

        <p>
            Ce type de brochure permet de donner quelques pistes de réflexion et d'inspiration. Cepandant le contexte énergétique aux Seychelles est totalement différent que le contexte à La Réunion. Bien que la brochure de la SPL Horizon soit assez dense en information, il n'en est pas de même pour les Seychelles. L'archipel n'a pas les mêmes types de ressources, et les informations sont simple à résumer, pour facilement les mettres dans une brochure. De plus pour les informations plus spécifiques le rapport du bilan énergétique fournira plus de détails sur les éléments qu'apporte la brochure.
        </p>
        <p>
            Il est aussi important de noter que mise à part le fond, la forme à aussi son importance. Se documenter sur l'aspect visuel était tout aussi cruciale que le contenu: le choix de type d'icône spécifique, le choix de couleurs pour un tel format (couleurs contrastées, couleurs utilisée pour de la communication énergétique et environnementale, etc.), opter pour des couleurs plutôt douces que agréssives, et d'autres encore. Tout doit être fait pour rendre agréable la lecture et captiver au mieux l'attention du lecteur. Cela fait partie des normes à adopter, mais ceci ne limite en aucun cas la créativité.
            <br><br>
        </p>
        

        <h3 style="text-align: left; font-size: 25px;">La Structure</h3>
        <p>
            Dans cette partie je vous présente brievement la stucture optée pour la brochure.
            <ul>
                <li>Energy Sector in Figures</li>
                <li>Electricity : Installed Capacities</li>
                <li>Electricity Generation and Consumption</li>
                <li>Contact</li>
            </ul>
            La partie <i>Energy Sector in Figures</i>, référence les données sur la consommation primaire et finale d'énergie aux Seychelles, sur la consommation d'énergie dans différents secteurs et ainsi qu'une aperçue sur la part électrique.
        </p>
        <p>
            La partie <i>Electricity : Installed Capacities</i>, comme son nom l'indique à pour objectif de montrer les différentes localisations des différents systèmes installés pour la production électrique aux Seychelles, ainsi que leur capacité de production.
        </p>
            La partie <i>Electricity Generation and Consumption</i>, réfère les données sur la production et la consummation électrique par PUC et des auto-producteurs.
        </p>
        <p>Généralement la dernière partie d'une brochure concerne la partie référencement, la partie <i>Contact</i>, avec une description brève du status de l'entreprise ainsi que ses coordonnés et une partie référencement. Pour rendre la brochure encore plus efficace on a trouvé judicieux de mettre une partie "trick and tips" pour aider les personnes à gérer leur consommation électrique.</p>

        <h2 id="num3" style="text-align: left; font-size: 34px;">Vue d'emsemble du projet</h2>
        <p>
            Vous pouvez accéder aux différentes brochures réalisées pendant la période de mon volontariat:
        </p>
        <ul>
            <li><a href="/documents/Brochure_2019_done.pdf" target="_blank">Brochure_2019.pdf</a></li>
            <li><a href="/documents/Brochure_2020_done.pdf" target="_blank">Brochure_2020.pdf</a></li>
            <li><a href="/documents/Brochure_2021_done.pdf" target="_blank">Brochure_2021.pdf</a></li>
        </ul>
        
    </div>
</section>
{%endblock%}